<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <title>{% block title %}{% endblock %} - Furiousfish</title>
</head>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% set alert_type="alert-success" if category=="ok" else "alert-danger" %}
      {% set icon="glyphicon-ok" if category=="ok" else "glyphicon-exclamation-sign" %}
      <div class="alert {{ alert_type }} alert-dismissible" role="alert">
        <span class="glyphicon {{ icon }}" aria-hidden="true"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{ message }}</strong>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% set login=True if 'login' in session else False %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3>{% block header %}{% endblock %}</h3>
    </div>
    <p class="navbar-text navbar-right">
      {% if login %}
        {{ session['login']['user']['gh_username'] }}
        <a href="{{ url_for('login') }}" class="navbar-link">Logout</a>
      {% else %}
        <a href="{{ url_for('login') }}" class="navbar-link">Login</a>
      {% endif %}
    </p>
  </div>
</nav>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3 col-md-1">
          <ul id="sidebar" class="nav nav-stacked affix">
            <li class="dropdown-header">Pages</li>
            <li><a href="{{ url_for('root') }}">Tests</a></li>
            <li><a href="{{ url_for('users') }}">Users</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li class="dropdown-header">Links</li>
            <li><a href="http://tests.stockfishchess.org/" target="_blank">Fishtest</a></li>
            <li><a href="https://groups.google.com/forum/?fromgroups=#!forum/fishcooking" target="_blank">Forum</a></li>
            <li><a href="https://github.com/mcostalba/FuriousFish" target="_blank">GitHub</a></li>
          </ul>
        </div>
        <div class="col-xs-9 col-md-9">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
</body>
</html>
