<!DOCTYPE html>
<title>Submitted tests</title>
<html>
  <head>
    <title>Submitted tests</title>
  </head>
  <body>
    <p><h2>List of webhooks events</h2></p>
    <ul>
    {% for test in tests %}
       <li>Username: {{ test.get('username') }}   Repo: <a href="{{ test.get('repo_url') }}" target="_blank">{{ test.get('repo_url') }}</a> <br><br>
       <a href="{{ test.get('repo_url') }}/commit/{{ test.get('sha'   ) }}" target="_blank">commit</a> ({{ test.get('bench_head') }}) vs
       <a href="{{ test.get('repo_url') }}/commit/{{ test.get('master') }}" target="_blank">master</a> ({{ test.get('bench_base') }}) <br>
       <pre>{{ test.get('message') }}</pre></li>
    {% endfor %}
    </ul>
  </body>
</html>
