{% extends "base.html" %}

{% block title %}Tests{% endblock %}

{% block header %}Submitted tests{% endblock %}

{% block alert %}
 {% if congrats %}
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Congratulations! You have successfully completed your registration</strong>
  </div>
  {% endif %}
{% endblock %}

{% block body %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Test</th>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
    {% for e in tests %}
    <tr>
      <td class="col-xs-4 col-md-1"><a {{ 'href=' + url_for('root', username = e.get('ft_username')) }}>{{ e.get('ft_username') }}</a></td>
      <td class="col-xs-8 col-md-3">
          <a href="http://tests.stockfishchess.org/tests/view/{{ e.get('test_id') }}" target="_blank">{{ e.get('ref') }}</a>
          <span class="pull-right">
            <a href="{{ e.get('repo_url') }}/compare/{{ e.get('master_sha')[:10] }}...{{ e.get('ref_sha')[:10] }}" target="_blank">diff</a>
          </span>
      </td>
      <td class="col-xs-10 col-md-8">{{ e.get('message') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
