{% extends "base.html" %}

{% block title %}Tests{% endblock %}

{% block header %}Submitted tests{% endblock %}

{% block alert %}
 {% if congrats %}
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Congratulations! You have successfully completed your registration</strong>
  </div>
  {% endif %}
{% endblock %}

{% block body %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Test</th>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
    {% for e in tests %}
    <tr>
      <td>{{ e.get('username')  }}</td>
      <td>
          <a href="{{ e.get('repo_url') }}/commit/{{ e.get('sha'   )[:10] }}" target="_blank">{{ e.get('ref') }}</a> (bench: {{ e.get('bench_head') }}) vs
          <a href="{{ e.get('repo_url') }}/commit/{{ e.get('master')[:10] }}" target="_blank">master</a> (bench: {{ e.get('bench_base') }})
          <a href="{{ e.get('repo_url') }}/compare/{{ e.get('master')[:10] }}...{{ e.get('sha')[:10] }}" target="_blank">diff</a>
      </td>
      <td>{{ e.get('message') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
